.listing_bids{

  .toolbar{
    min-height: 3*$primary-margin;
    &__select{
      margin-right: $primary-margin;
      max-width: 200px;
      overflow: hidden;
      white-space:nowrap!important;
      text-overflow: ellipsis!important;

      //!!! SHAME !!!
      .md-select-value *:first-child{
        width: calc(100% - 24px);
      }
    }
  }

  .worker{

    &-menu{
      text-align: right;
      &__controls{opacity: 0;}

      @media #{$screen-xs, $screen-sm} {
        &__controls{opacity: 1;}
      }
    }

    &:hover  .worker-menu__controls{opacity: 1;}

    &__photo{
      text-align: center;
      width: 3*$primary-margin;
      padding: $primary-padding/2 0px!important;
      img{
        background-image: url(/images/social.png);
        background-size: 100% 100%;
        background-position: center center;
        border: none!important;
      }
    }
  }

  //
  // Shame!
  //

  // There are some library issues)
  .worker:hover{
    background-color: #eeeeee !important;
  }

  table.md-table.md-row-select tbody.md-body > tr.md-row{
    transition: none;
    @include animate-listing();
  }

}
