section.page-statistics(layout="column" layout-align="start center" )
  md-content.md-whiteframe-z1(layout="column" layout-fill role="main chart")
    div(role="title" layout="row" layout-align="space-between center")
      div.md-subheader {{'stat.site' | translate}}
      div.element-date_range
        md-datepicker(ng-model="date_range.from" md-placeholder="Date from" ng-change="request.main()" md-max-date="date_range.to")
        md-datepicker(ng-model="date_range.to" md-placeholder="Date to" ng-change="request.main()" md-min-date="date_range.from" md-max-date="date_range.today")
    chartist.chart1(flex class="ct-chart" chartist-data="charts_data.main" chartist-chart-type="Line" chartist-chart-options="charts_options.main" chartist-events="events" ng-show="charts_data.main")
    div.element-loading(layout="row" layout-align="center center" ng-hide="charts_data.main")
      md-progress-circular(md-mode="indeterminate" md-diameter="60")


  md-grid-list.block-cards_box( md-cols="3" md-cols-md="3"  md-cols-gt-md="3"  md-row-height="290px" md-row-height-gt-sm="1:1" md-gutter="15px" role="cards box" md-cols-sm="2" md-cols-xs="1"  ng-cloak)
    md-grid-tile.md-whiteframe-z1(md-rowspan="1" md-colspan="2"  md-colspan-xs="1")
      div.block-cpu(layout="row" layout-align="space-between center" )
        
        div.block-left(layout="column" layout-align="start center" hide-xs)
          div.element-stat_circle.md-headline(role="info circle" status-color="cpu") {{socket_data.cpu}}
          
          div.md-subhead(role="caption") {{'stat.cpu' | translate}}
        div.block-right(flex layout="column" )
          div.md-subheader(hide-gt-xs role="hide-sm label") {{'stat.cpu' | translate}}
          chartist(class="ct-chart" chartist-data="charts_data.cpu" chartist-chart-type="Line" chartist-chart-options="charts_options.cpu" )
          div.element-loading(layout="row" layout-align="center center" ng-hide="charts_data.cpu")
            md-progress-circular(md-mode="indeterminate"  md-diameter="60")

        
    md-grid-tile.onef.md-whiteframe-z1(md-rowspan="1" md-colspan="1"  )
      div.block-memory(layout="column" layout-align="center center")
        div.element-stat_circle.md-headline(role="info circle" status-color="ram") {{socket_data.ram}}
        div.md-subhead(role="caption") {{'stat.ram' | translate}}
    md-grid-tile.md-whiteframe-z1.block-traffic(md-rowspan="1" md-colspan="1"  )
      div.block-container(layout="column" layout-align="start center")
        md-list
          md-subheader.md-no-sticky {{'stat.traffic' | translate}}
          
          md-list-item.md-2-line(ng-repeat="item in traffic")
            div.md-list-item-text(layout="row")
              span(flex) {{item.label}}
              span {{item.value}}
          
  
    md-grid-tile.md-whiteframe-z1(md-rowspan="1" md-colspan="2"  md-colspan-xs="1")
      div.block-external_views(layout="column" )
        div(role="label" layout="row" layout-align="start center")
          div.md-subheader {{'stat.views' | translate}}
        div.element-loading(layout="row" layout-align="center center" ng-hide="charts_data.profiles")
          md-progress-circular(md-mode="indeterminate"  md-diameter="60")
        div(role="chart" flex ng-show="charts_data.profiles")
          chartist(flex class="ct-chart" chartist-data="charts_data.profiles" chartist-chart-type="Line" chartist-chart-options="charts_options.profiles"  ng-show="charts_data.profiles")
          
    
