section.page-statistics(layout="column" layout-align="start center" )
  md-content.md-whiteframe-z1(layout="column" layout-fill role="main chart")
    chartist.chart1(flex class="ct-chart" chartist-data="data" chartist-chart-type="Line" chartist-chart-options="lineOptions" chartist-events="events")


  md-grid-list.block-cards_box( md-cols="3"   md-row-height="1:1" md-gutter="15px" role="cards box" ng-cloak)
    md-grid-tile.md-whiteframe-z1(md-rowspan="1" md-colspan="2" )
      div.block-cpu(layout="row" layout-align="space-between center" )
        div.block-left(layout="column" layout-align="start center")
          div.element-stat_circle.md-headline(role="info circle") 17
          div.md-subhead(role="caption") CPU Usage %
        div.block-right(flex layout="row" layout-align="center center")
          chartist(flex class="ct-chart" chartist-data="data_cpu" chartist-chart-type="Line" chartist-chart-options="cpuOptions" )
        
    md-grid-tile.onef.md-whiteframe-z1(md-rowspan="1" md-colspan="1")
      div.block-memory(layout="column" layout-align="center center")
        div.element-stat_circle.md-headline(role="info circle") 43
        div.md-subhead(role="caption") RAM Usage %
    md-grid-tile.md-whiteframe-z1.block-traffic(md-rowspan="1" md-colspan="1")
      div.block-container(layout="column" layout-align="start center")
        md-list
          md-subheader.md-no-sticky Traffic
          
          md-list-item.md-2-line(ng-repeat="item in traffic")
            div.md-list-item-text(layout="row")
              span(flex) {{item.label}}
              span {{item.value}}
          
  
    md-grid-tile.md-whiteframe-z1(md-rowspan="1" md-colspan="2")
      div.block-external_views(layout="column" layout-fill)
        div(role="label" layout="row" layout-align="start center")
          div.md-subheader Profiles views
        div(role="chart" flex)
          h3 hello
    
    //- 
    //- <md-grid-list
    //-       md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
    //-       md-row-height-gt-md="1:1" md-row-height="2:2"
    //-       md-gutter="12px" md-gutter-gt-sm="8px" >
    //-   <md-grid-tile class="gray"
    //-       md-rowspan="3" md-colspan="2" md-colspan-sm="1">
    //-     <md-grid-tile-footer>
    //-       <h3>#1: (3r x 2c)</h3>
    //-     </md-grid-tile-footer>
    //-   </md-grid-tile>
    //-   <md-grid-tile class="green">
    //-     <md-grid-tile-footer>
    //-       <h3>#2: (1r x 1c)</h3>
    //-     </md-grid-tile-footer>
    //-   </md-grid-tile>
