section.page-statistics(layout="column" layout-align="start center" )
  md-content.md-whiteframe-z1(layout="column" layout-fill)
    chartist.chart1(flex class="ct-chart" chartist-data="data" chartist-chart-type="Line" chartist-chart-options="lineOptions" chartist-events="events")
    //- chartist.chart2(flex class="ct-chart" chartist-data="data" chartist-chart-type="Line" chartist-chart-options="lineOptions" chartist-events="events")
