.editor{


  .toolbar{
    &__avatar{
      margin-left: $primary-padding;
      border: 1px solid $clr-grey;
      @include transition(all 0.2s linear);

      &:hover{border: 1px solid $clr-teal;}
    }
  }



  .saving__button{
    margin: $primary-padding/2;
  }


}
