.element-item{

  width: 100%;


  &-label{

    width: 150px;
    div[role="info"]{
      @extend .avatar;
      border: 1px solid rgba(grey, 0.5);
      background-color: $grey-background;
      color: grey;
      span{display: block;}
      md-icon{display: none;}
    }

    div[role="line"]{
      width: 1px;
      background-color: rgba(grey, 0.5);
    }

    // State when field isn't empty
    &.done{

      div[role="info"]{
        background-color: $primary-teal;
        color: white;

        span{display: none;}
        md-icon{color: white; display: block;}
      }
      div[role="line"]{background-color: $primary-teal;}

    }

  }



  &-value div[role="label"]{
      height: $avatar-size;
      line-height: $avatar-size;
  }



}
