.fields-item{
  min-height: 50px;
  padding-bottom: $primary-padding;

  &__label{
    width: $primary-padding + $user_avatar-size;
  }
}



.file{
  min-height: $type-min-height;
  // SHAME!
  &__icon{margin-left: -6px;}
}

.date{
  // SHAME!
  margin-left: -16px;
}

.gallery{
  width: 100%;
}
