.listing{

  .event{
    &-menu{
      text-align: right;
      &__controls{opacity: 0;}

      @media #{$screen-xs, $screen-sm} {
        &__controls{opacity: 1;}
      }
    }

    &:hover  .event-menu__controls{opacity: 1;}

  }



}
