div.block-editor

  md-toolbar.md-table-toolbar.md-default.ng-animate-disabled(layout="row" layout-align="start center" ng-hide="selected.length>0")
    div.md-toolbar-tools
      md-input-container.input_container-simplified(md-no-float)
        input(ng-model="job.name" aria-label="job title" placeholder="{{'jobs.title' | translate}}" type="text" )
      md-button.md-icon-button(aria-label="add a photo" ngf-select="actions.upload($files)" ng-if="!job.avatar.url && !job.avatar.data_url")
        md-icon.material-icons add_a_photo
      img.avatar.cursor.element-logo(ng-src="{{actions.get_image()}}" alt="job item" ngf-select="actions.upload($files)" ng-if="job.avatar.data_url || job.avatar.url")
      span(flex)
      md-button.md-icon-button(aria-label="add parameter" ng-click="actions.add()")
        md-icon.material-icons add


  md-toolbar.md-table-toolbar.md-primary(ng-show='selected.length')
    div.md-toolbar-tools
      span {{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} {{'simple.selected' | translate}}
      span(flex='')
      md-button.md-icon-button(ng-click="actions.remove()")
        md-icon delete

  
  md-table-container
    table(md-table  md-progress="progress.promise" md-row-select="true" ng-model="selected")
      thead(md-head)
        tr(md-row)
          th(md-column) {{'simple.name' | translate}}
          th(md-column) {{'simple.type' | translate}}
          th(md-column md-numeric="true") {{'simple.public' | translate}}
          th(md-column md-numeric="true")
      tbody(md-body)
      
        include snippets/standard_params
        
        tr(ng-repeat="item in job.params" md-row md-select="item")
          td(md-cell)
            md-input-container.input_container-simplified(md-no-float)
              input(ng-model="item.name" aria-label="job title")
          td(md-cell) 
            md-select.by_pages(ng-model="item.type" aria-label="item type" )
              md-option(ng-repeat="one in types" value="{{one.name}}") {{one.key | translate}}
          td(md-cell)
            md-checkbox(ng-model="item.public" aria-label="public")
          td(md-cell)
            md-button.md-icon-button(aria-label="values" ng-show="item.type==types[5].name || item.type==types[6].name" ng-click="actions.show_dialog(item)")
              md-icon.material-icons mode_edit


  md-divider
  div.element-saving(layout="row")
    span(flex)
    md-button.md-raised.md-accent(ng-click="actions.save()" ng-disabled="job.name.length<3 || upload_promise || saving_process") 
      span(ng-show="method=='new'") {{'simple.create' | translate}}
      span(ng-show="method=='edit'") {{'simple.save' | translate}}
