section.page-jobs(layout="column" layout-align="start center" )
  md-content.md-whiteframe-z1(ng-class="{'state1': active_state=='admin.jobs.list', 'state2': active_state=='admin.jobs.editor'}")
    div(ui-view="jobs")
