section.page-jobs(layout="column" layout-align="start center" )
  md-content.md-whiteframe-z1.container(ng-class="{'container--state1': active_state=='admin.jobs.list', 'container--state2': active_state=='admin.jobs.editor'}")
    div(ui-view="jobs")
