div.editor


  md-toolbar.md-table-toolbar.md-default.ng-animate-disabled(layout="row" layout-align="start center" ng-hide="selected.length>0")
    div.md-toolbar-tools.toolbar(layout="row" layout-align="center center")
      div.md-title {{'simple.vac_editor' | translate}}
      md-progress-circular.md-accent.md-hue-2.toolbar__loading(md-mode="indeterminate" md-diameter="40px" ng-show="restoring")
  md-divider
  
  
  div.data(layout="column" layout-align="start center")
    md-input-container.md-block.element-container--simplified.data__string(flex md-no-float)
      input(ng-model="event.name" aria-label="number param" type="text" placeholder="{{'simple.label' | translate}}")  
    md-input-container.md-block.element-container--simplified.data__string(flex md-no-float)
      input(ng-model="event.city" aria-label="number param" type="text" placeholder="{{'simple.city' | translate}}") 
    md-input-container.element-container--simplified.data__string(flex md-no-float)
      input(ng-model="event.time" aria-label="number param" type="text" placeholder="{{'simple.timing' | translate}}") 
    md-input-container.md-block.md-block.element-container--simplified.data__text.md-no-autogrow(flex md-no-float)
      textarea(ng-model="event.about" columns="45" rows="5" aria-label="text type" placeholder="{{'simple.about' | translate}}")
      
    md-content.md-padding.autocomplete.data__chips(layout="column")
      md-contact-chips(ng-model="event.jobs" md-contacts="querySearch($query)" md-contact-name="name" md-contact-image="avatar_url" md-require-match="true" md-highlight-flags="i" filter-selected="true" placeholder="{{'menu.jobs' | translate}}")
  md-divider
  div.saving(layout="row" layout-align="end center")
    span(flex)
    md-progress-circular.md-accent.md-hue-2(md-mode="indeterminate" md-diameter="40px" ng-show="saving_process")
    md-button.md-raised.md-accent.saving__button(ng-click="save()" aria-label="save" ng-disabled="saving_process")
      span(ng-show="method=='new'") {{'simple.create' | translate}}
      span(ng-show="method=='edit'") {{'simple.save' | translate}}
