section.page-login(layout="column" layout-align="center center")
  md-card.card
    //- img.md-card-image(src="images/login.png")
    div.card-background(layout="column" layout-align="center center")
      md-icon.material-icons.card-background__logo(aria-label="logo" ) security
    md-card-content(layout="column")
      md-input-container.md-icon-float.md-block(md-no-float)
        md-icon.md-primary(aria-label="Menu" class="material-icons") email
        input(ng-model="credentials.email"  placeholder="e-mail" type="text")
      md-input-container.md-icon-float.md-block(md-no-float)
        md-icon.md-primary(aria-label="Menu" class="material-icons") lock_open
        input(ng-model="credentials.pass" placeholder="{{'simple.pass' | translate}}" type="password" ng-keypress="keypress($event)")
      div.controls(layout="row" layout-align="start center")
        div.md-body-1.controls__text(flex) {{'simple.password' | translate}}
        md-button.md-fab.md-primary.controls__button(aria-label='add'  ng-click="login()")
          md-icon(aria-label="Menu" class="material-icons") forward
