header
  md-toolbar()
    div.md-toolbar-tools()
      md-button.md-icon-button(aria-label='Settings' ng-click="toggle(left)")
        md-icon.material-icons menu
      div(md-header-title flex) {{title.name}}
      md-menu
        md-button.md-icon-button(aria-label="open flags" ng-click="menu.flag_menu.open($mdOpenMenu, $event)") {{language.current}}
        md-menu-content(width="1" )
          md-menu-item(aria-label="flag" ng-click="language.set_language('en')")
            md-button(aria-label="gb flag")
              span.flag-icon.flag-icon-gb
          md-menu-item(aria-label="flag" ng-click="language.set_language('de')")
            md-button(aria-label="de flag")
              span.flag-icon.flag-icon-de
          
      md-menu
        md-button.md-icon-button(aria-label="user menu" ng-click="menu.user_menu.open($mdOpenMenu, $event)")
          md-icon.material-icons more_vert
        md-menu-content(width="4")
          md-menu-item
            md-button()
              md-icon.material-icons account_circle
              span {{'user.myaccount' | translate}}
          md-menu-item()
            md-button
              md-icon.material-icons exit_to_app
              span {{'user.exit' | translate}}
          
        
      
    
section.root_section      
  md-sidenav.md-sidenav-left.md-whiteframe-z2.main_sidenav(layout="column" md-component-id="left" )
    md-content
      div.logo(layout="row" layout-align="center center") Polymath
      md-divider
      md-list
        div
          md-list-item.item( ng-click="video_menu.expand = !video_menu.expand")
            p.md-subheader.md-primary {{'videos' | translate}}
            span(flex)
            md-button.md-icon-button(ng-show="video_menu.children.length>0")
              md-icon.material-icons(aria-label='expand menu') {{ video_menu.expand ? 'arrow_drop_up': 'arrow_drop_down'}}
            
          div(ng-repeat="item in video_menu.children" ui-sref="main.videos({id: item.id})" ng-show="video_menu.expand")
            md-list-item.item_child(md-ink-ripple)
              p.md-body-2 {{item.name}}
              span(flex)
      md-list(ui-sref="main.statistics")
        md-list-item.item(md-ink-ripple)
          p.md-subheader.md-primary {{'stat' | translate}}
          span(flex)
      md-list(ui-sref="main.settings")
        md-list-item.item(md-ink-ripple)
          p.md-subheader.md-primary {{'setting' | translate}}
          span(flex)


  div.main_ui_view(flex layout="column" ui-view="main")
  
