div.page-profile(layout="column" layout-align="start center")
  div.md-whiteframe-z2.block-profile_data(layout="column")
    div(role="basic data" layout="row" layout-align="start center")
      div.user_avatar(layout="column" layout-align="center center"  ng-style="{'background-image': 'url('+user.avatar+')' }" )
      div.element-name(layout="column" layout-align="space-around start" flex)
        div.md-headline {{user.name}}
        div.md-title {{user.job}}
    md-divider
    div(role="all data")
    
    
      div.element-item(layout="row" layout-align="start center" ng-repeat="item in user.params")
        div.element-label()
          span.md-subheader {{item.name}}
        div.element-value(layout="row" flex ng-switch="item.type")
        
        
          //
          // String type
          //
          md-input-container.md-block.input_container-simplified(flex ng-switch-when="string")
            input(ng-model="item.value" aria-label="string param" type="text") 


          //
          // Text type
          //
          md-input-container.md-block.input_container-simplified(flex ng-switch-when="text")
            textarea(ng-model="item.value" columns="45" rows="5" aria-label="text type")
            
          //
          // Text type
          //
          md-input-container.md-block.input_container-simplified(flex ng-switch-when="number")
            input(ng-model="item.value" aria-label="number param" type="number") 
            

          //
          // Date type
          //
          md-datepicker.element-datepicker(ng-model="item.value" md-placeholder="Enter date" ng-switch-when="date")
          
          //
          // File type
          //   
          div.element-value(layout="row" flex ng-switch-when="file")
            div.pointer(layout="row" layout-align="start center")
              md-icon.material-icons(aria-label="delete file" ) attach_file
              div {{item.value.name}} 
  
  
          //
          // Gallery type
          //             
          div.element-value(layout="row" flex ng-switch-when="gallery")
            div.block-images(layout="row" layout-wrap layout-align="space-between start" )
              div.element-photo(ng-repeat="one in item.value" row-wrap-fill ng-style="{'background-image': 'url({{one}})' }")
          
        
          //
          // Select type
          //          
          md-select(ng-model="item.value" aria-label="select type" ng-switch-when="select")
            md-option(ng-repeat="one in item.values" ng-value="one") {{one}}
  

          //
          // Multiple select type
          //          
          md-select(ng-model="item.value" aria-label="select type" ng-switch-when="multiple select" multiple)
            md-option(ng-repeat="one in item.values" ng-value="one") {{one}}

          //
          // Multiple select type
          //    
          div(ng-switch-when="boolean")
            md-checkbox(ng-model="item.value"  aria-label="boolean type" )
          
          
      //- div.element-item(layout="row" layout-align="start center")
      //-   div.element-label()
      //-     span.md-subheader Multi Select
      //-   div.element-value(layout="row" flex)
      //-     md-checkbox(ng-model="value" aria-label="boolean type")
      //-   
      //-   
      //-   
      //-   
