div.page-profile(layout="column" layout-align="start center")

  div.md-whiteframe-z2.data(layout="column")
    div.basic(role="basic data" layout="row" layout-align="start center" )
    
      div.element-user-avatar(layout="column" layout-align="center center"  ng-style="{'background-image': 'url('+user.avatar+')' }" )
      div.basic-info(layout="column" layout-align="space-around start" flex)
        div.md-headline {{user.name}}
        div.md-title {{user.job}}
        
    md-divider.data__divider(ng-show="user")
    
    div.fields
      md-progress-linear.fields__loader(md-mode="indeterminate" ng-hide="user")
      div.fields-item(layout="row" layout-align="start center" ng-repeat="item in user.params")
      
        div.fields-item__label()
          span.md-subheader {{item.name}}
        div.fields-item__value(layout="row" flex ng-switch="item.type")
        
          include admin_panel/workers/snippets/types_list
          
          //
          // File type
          //   
          div.cursor.file(layout-align="start center" layout="row"  ng-switch-when="file")
            md-icon.material-icons.file__icon(aria-label="delete file" ng-click="open(item.value.url)") attach_file
            div(ng-click="open(item.value.url)") {{item.value.name}} 
            
          //
          // Gallery type
          //             
          div.gallery(layout="row" layout-wrap layout-align="space-between start" ng-switch-when="gallery")
            div.element-gallery-item.cursor(ng-repeat="one in item.value" row-wrap-fill ng-style="{'background-image': 'url({{one}})' }" ng-click="open(one)")
          
        

        
