div.user_settings(layout="row")
  div.profile(layout="column" layout-align="start center" md-theme="white_theme")
    div.avatar(layout="column" layout-align="center center")
      img(src="images/me.jpg")
    div.name Alexander  Kozhevin
    div.md-subheader Polymath
  div.data
    div.md-subheader {{'account.user' | translate}}
    div.content(layout="column" layout-align="start start")
      md-input-container.md-block(md-no-float)
        md-icon.material-icons account_circle
        input(ng-model="name" placeholder="Name")
      md-input-container.md-block(md-no-float)
        md-icon.material-icons email
        input(ng-model="name" placeholder="Email")
      md-input-container.md-block(md-no-float)
        md-icon.material-icons phone
        input(ng-model="phone" placeholder="Phone number")
      md-datepicker.birth(ng-model="myDate" md-placeholder="{{'account.birth' | translate}}")  
      md-button.md-raised.md-primary.saving(aria-label='save' ) Save
    
