md-toolbar.md-whiteframe-z1.videos_toolbox(md-theme="white_theme")
  div.md-toolbar-tools(layout="row" layout-align="start center")
    div.action_buttons(ng-show="pre_select" layout="row")
      md-button.md-icon-button(aria-label='move to folder' )
        md-icon.material-icons folder_open
      md-button.md-icon-button(aria-label='remove' )
        md-icon.material-icons delete
    span(flex)
    md-input-container.sort_selector(hide-sm)
      md-select(ng-model="sorter.model" aria-label="sort select")
        md-option(ng-repeat="item in sorter.list" value="{{item}}") {{item.name}}
    md-button.md-icon-button(aria-label='block view' ng-click="page.toggle_view()")
      md-icon.material-icons(ng-if="page.view_type=='block'" ) view_module
      md-icon.material-icons(ng-if="page.view_type=='list'" ) view_list
    div.paginator(layout="row" layout-align="start center")
      md-button.md-icon-button(aria-label='page 0' hide-sm)
        md-icon.material-icons fast_rewind
      md-button.md-icon-button(aria-label='page previous' )
        md-icon.material-icons skip_previous
      div.info(hide-sm) 1 - 17
      md-button.md-icon-button(aria-label='page next' )
        md-icon.material-icons skip_next
      md-button.md-icon-button(aria-label='page max' hide-sm)
        md-icon.material-icons fast_forward


div.loading_box(layout="row" layout-align="center center" ng-show="!is_data_loaded()")
  md-progress-circular.md-accent.md-hue-1(md-diameter="30" md-mode='indeterminate')


div.card_box(ng-show="page.view_type=='block' && is_data_loaded()")
  md-grid-list(md-cols="1" md-cols-gt-lg="5" md-cols-lg="4" md-cols-md="3" md-cols-sm="{{small_cols_calc()}}" md-gutter="5px" md-row-height="1:1")
    md-grid-tile.video_card.repeat-animation(ng-class="{'active': item.select, 'pre_active': pre_select}" ng-repeat="item in many")
      div.container(layout="column")
        div.screenshot(style="background: url(http://i.ytimg.com/vi/SRcnnId15BA/mqdefault.jpg)")
          div.darken_cover(layout="row" layout-align="space-between start")
            div.select_button
              md-icon.material-icons(ng-click="select_item(item)") check_circle
            md-menu
              md-button.md-icon-button(aria-label="user menu" ng-click="item_menu.open($mdOpenMenu, $event)")
                md-icon.material-icons more_vert
              md-menu-content(width="4")
                md-menu-item
                  md-button()
                    md-icon.material-icons create
                    span {{'actions.delete' | translate}}
                md-menu-item
                  md-button
                    md-icon.material-icons delete
                    span {{'actions.edit' | translate}}
            
              
        div.title(layout="row" layout-align="space-between center")
          span 50 Cent
        div.info(layout="row" layout-align="space-between center")
          span.views 100500
          span.duration 4:31


div.list_box(ng-show="page.view_type=='list' && is_data_loaded()" )
  md-list.md-whiteframe-z1
    md-list-item.md-2-line.record_list_item
      div.md-list-item-text(layout="row" layout-align="start center")
        div.select_button(ng-class="{'active': page.is_select_all}" ng-click="page.select_all()")
          md-icon.material-icons() check_circle
        p.screenshot( flex="20") Screenshot
        p.name(flex) Name
        p.created(flex="10" hide-sm) Date
        p.views(flex="10") Views
    md-divider
    md-list-item.md-3-line.record_list_item.repeat-animation(ng-repeat="item in many")
      div.md-list-item-text(layout="row" layout-align="start center")
        div.select_button(ng-class="{'active': item.select}" ng-click="select_item(item)")
          md-icon.material-icons() check_circle
        div.screenshot(flex="20")
          img(src="http://i.ytimg.com/vi/SRcnnId15BA/mqdefault.jpg")
        div.name(flex) 50 cent candy shop
        p.date(flex="10" hide-sm) 6.12.2015 <br> 11:47
        div.views(flex="10") 12 843 323
      md-divider
      
