.element-avatar{
  width: $avatar-size;
  height: $avatar-size;
  border-radius: 50%;
}


.element-user-avatar{
  width: $user_avatar-size;
  height: $user_avatar-size;
  border: 1px solid rgba($clr-grey, 0.5);
  margin: $primary-padding 0px 0px $primary-padding;
  background-color: $clr-grey-50;
  border-radius: 2px;
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
  padding: $primary-padding;
  @include transition(all 0.2s linear);
}
