.element-input--transparent{
  background-color: transparent!important;
  border: none!important;
}

.element-container--simplified{
  margin: $primary-padding/2 0px!important;

  // SHAME!
  .md-errors-spacer{display: none;}

}
