tr( md-row md-select ng-disabled="true")
  td(md-cell)
    md-input-container.input_container-simplified(md-no-float)
      input(ng-model="standart.name.value" aria-label="user name" ng-disabled="true")
  td(md-cell)
    md-select(ng-model="standart.name.type" aria-label="param type" ng-disabled="true")
      md-option(value="String") String
  td(md-cell)
    md-checkbox(ng-model="standart.name.public" aria-label="public")
  td(md-cell) 
tr( md-row md-select ng-disabled="true")
  td(md-cell)
    md-input-container.input_container-simplified(md-no-float)
      input(ng-model="standart.avatar.value" aria-label="user name" ng-disabled="true")
  td(md-cell)
    md-select(ng-model="standart.avatar.type" aria-label="param type" ng-disabled="true")
      md-option(value="Photo") Photo
  td(md-cell)
    md-checkbox(ng-model="standart.avatar.public" aria-label="public")
  td(md-cell) 
