.box-cpu{
  width: 100%;
  height: 100%;


  .circle{
    width: $cpu-circle-width;
    padding-left: 20px;

    &__label{
      margin-top: $primary-margin;
      font-weight: 400;
    }
  }

  .box-chart{
    height: 100%;
    
    &__chart{
      margin-left: -20px;
    }

    &__label{
      padding: 2*$primary-padding;
      padding-bottom: 0px;
    }
  }

}


//
// Special classes for javascript chart config
//

.cpu_chart-grid{
  stroke: rgba(grey, 0.2);
  stroke-width: 0.5px;
}
.cpu_chart-ct-grid{
  stroke-width: 0.2;
  stroke: rgba(grey, 0.7);
  stroke-dasharray: 7 3;
}
.cpu_chart-ct-line{
  fill: none;
  stroke: $clr-red;
  stroke-width: 2px;
  stroke-opacity: 0.5;
}
