.block-external_views{
  width: 100%;
  height: 100%;

  [role="label"]{
    height: $md-2-line-height;
    padding: 0px $primary-padding;
  }
  [role="chart"]{
  }
}

.ext_chart-ct-grid{
  stroke-width: 0.2;
  stroke: rgba(grey, 0.7);
}
.ext_chart-ct-line{
  fill: none;
  stroke-width: 2px;
  stroke-opacity: 0.5;
  stroke: $clr-blue;
}

.ext_chart-ct-point{}
