.main_chart-ct-label{color: $black-label; padding-top: 40px;}
.main_chart-ct-grid{
  stroke-width: 0.2;
  stroke: rgba(grey, 0.7);
  stroke-dasharray: 7 3;
  // stroke-dashoffset: 10;
}
.main_chart-ct-line{
  fill: none;
  stroke-width: 2px;
  stroke-opacity: 0.5;
}
.ct-series-a{
  stroke: #F44336;
}
.ct-series-b{
  stroke: #3F51B5;
}
.main_chart-ct-area{
  filter: url(#filter);
  stroke: none;
}
.ct-series-b .main_chart-ct-area{
  fill: none;
  stroke: none;
}
.main_chart-ct-point{
  fill-opacity: 1;
  @include transition(all 0.2s linear);
  stroke-width: 0px;
  &:hover{
    r: 7;
    stroke-opacity: 0.2;
    stroke-width: 20px;
  }
}
