.block-traffic{


  .block-container{
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  [role="list"]{
    width: 100%;
  }

  [role="listitem"]:nth-child(2n+0){
    background-color: $grey-background;
  }
}
