@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500&subset=cyrillic,latin);



@import "modules/_colors";
@import "modules/_fonts";
@import "modules/_animation";

@import "components/_sidenav";
@import "components/_card";
@import "components/_record_list_item";
@import "components/_videos_toolbox";
@import "components/_select_button";
@import "components/_loading_box";
@import "components/_tabs";
@import "components/_fieldset";
@import "components/_calendar";
@import "components/_user_viewer";

@import "_videos";
@import "_record";
@import "_statistics";
@import "_user_settings";


body{

}

.main_ui_view{
  height: calc(100vh - 64px);
  overflow: auto;
}

textarea:focus, input:focus, button:focus, li:focus, a:focus, select:focus, md-icon:focus, div:focus{
	outline: 0!important;
}
