@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500&subset=cyrillic,latin);



@import "modules/_colors";
@import "modules/_fonts";

@import "components/_sidenav";

body{
}
.main_ui_view{
  background-color: pink;
  height: calc(100vh - 64px);
  overflow: auto;
}
