md-dialog.block-extended_search(role="extended search")
  md-toolbar
    div.md-toolbar-tools(layout="row")
      h2  {{jobs.selected.name}}
      span(flex)
      md-button.md-icon-button(ng-click="ext_search.hide_dialog()")
        md-icon close
    
  md-dialog-content.vespa
    md-list
      md-list-item.md-2-line(ng-repeat="item in ext_search.params" )
        div.md-list-item-text(layout="row" layout-align="start center" )
        
          // Label Column
          div.md-subheader(role="query label") {{item.name}}
          
          // Compare Column
          md-button.md-title.md-icon-button.md-title(ng-click="ext_search.toggle_compare(item)" ng-if="item.compare") {{item.compare_value.value}}
          md-button.md-title.md-icon-button(ng-if="!item.compare" aria-label="no compare")
          
          // Input Column
          div(flex layout="row" ng-switch="item.type")
          
            // String type
            md-input-container.input_container-simplified(ng-switch-when="string" flex)
              input(ng-model="item.value" aria-label="string query" type="text") 

            // Number type
            md-input-container.input_container-simplified(ng-switch-when="number" flex)
              input(ng-model="item.value" aria-label="number query" type="number") 

            // Text type
            md-input-container.md-block.input_container-simplified(ng-switch-when="text" flex)
              textarea(ng-model="item.value" columns="45" rows="5" aria-label="text query")

            // Date type
            md-datepicker(ng-model="item.value" md-placeholder="Enter date" ng-switch-when="date" flex)

            // Select type
            md-select(ng-model="item.value" aria-label="select query" ng-switch-when="select" flex)
              md-option(ng-repeat="one in item.values" ng-value="one") {{one}}

            // Multiple - select type
            md-select(ng-model="item.value" aria-label="multi select query" multiple ng-switch-when="multiple select" flex)
              md-option(ng-repeat="one in item.values" ng-value="one") {{one}}


        
        md-divider
  
  

    
  md-dialog-actions(layout="row" )
    md-button(ng-click="ext_search.clear()") clear
    md-button(ng-click="ext_search.find()") find
