md-button.md-icon-button(aria-label="worker menu" ui-sref="admin.workers.editor({method: 'edit', id: item.id})")
  md-icon.material-icons mode_edit
md-button.md-icon-button(aria-label="worker menu" ng-click="actions.link(item.id)")
  md-icon.material-icons link
  
