md-sidenav.md-sidenav-right.md-whiteframe-z2.worker-view(layout="column" md-component-id="left" )
  md-toolbar
    div.md-toolbar-tools(layout="row" layout-align="center center")
      div.md-title {{'workers.quick' | translate}}
  md-content.user(layout="column" layout-align="start center")
    div.user__photo(ng-style="{'background-image': 'url(' + worker_preview.data.avatar + ')'}")
    div.md-title.user__name {{worker_preview.data.name}}
    div.user-item(ng-repeat="item in worker_preview.data.params") 
      div.md-subheader {{item.name}}
      div.user-item__value(ng-switch="item.type" layout="row")
      
        
        include types_list
        

        // File Type
        div.file.cursor(ng-switch-when="file" role="file type" layout="row" layout-align="start center" ng-click="item.actions.open(item.value.url)")
          md-icon.material-icons.file__icon attach_file
          div {{item.value.name}}
          
    
        // Gallery Type
        div.gallery(ng-switch-when="gallery" role="gallery type" layout="column" layout-align="start center")
          div.gallery__viewer( ng-style="{'background-image': 'url(' + item.current + ')'}")
          div.gallery__controls(layout="row" layout-align="center center")
            md-button.md-icon-button(ng-click="item.prev(item)" ng-disabled="item.index == 0")
              md-icon keyboard_arrow_left
            md-button.md-icon-button(ng-click="item.next(item)" ng-disabled="item.index == item.max-1")
              md-icon keyboard_arrow_right

    
    
    
    
