div.block-editor
  md-toolbar.md-table-toolbar.md-primary(layout="row" layout-align="start center")
    div.md-toolbar-tools
      div(ng-click="show_seleced()") {{'simple.editor' | translate}}
      span(flex)
      md-button(ng-disabled="actions.is_save_disabled(worker)" ng-click="actions.save()") {{'simple.save' | translate}}
  div.element-basic_data(layout="row" layout-align="start center")
    
    div.user_avatar(layout="column" layout-align="center center"  ng-style="{'background-image': 'url('+get_img()+')' }" ngf-select="actions.upload_avatar($files)" ngf-multiple="false" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="3MB")
      span.md-subheader(ng-hide="worker.avatar.url || worker.avatar.data_url" ) {{'workers.select' | translate}}
      
    div.element-name(layout="column" layout-align="space-around start" flex)
      md-input-container.input_container-simplified(md-no-float)
        input(ng-model="worker.name" aria-label="worker title" placeholder="{{'workers.name' | translate}}" type="text" minlength="3")
      md-select.simple_select(ng-model="jobs.selected" aria-label="selected job" ng-change="actions.set_job()" ng-disabled="method=='edit'")
        md-option(ng-value="item" ng-repeat="item in jobs.list track by $index") {{item.name}}
        
  md-divider(ng-show="!loading")
  

  
  div.block-parameters(layout="column" layout-align="start start" )
    md-progress-linear(md-mode="indeterminate" ng-show="loading" )
    div.element-item(layout="row" ng-repeat="item in worker.parameters track by $index" layout-fill)
    
      div.element-item-label(layout="column" layout-align="start center" ng-class="{'done' : item.value.filled}")
        div(role="info" layout="column" layout-align="center center")
          span {{$index + 1}}
          md-icon.material-icons() done
        div(role="line" flex ng-hide="$index == worker.parameters.length-1")
        
        
      div.element-item-value(flex) 
        div.md-subheader(role="label") {{item.name}}
        div(role="value" layout="column" ng-switch="item.type")
          editor-gallery(ng-model="item.value" ng-switch-when="gallery")
          editor-text(ng-model="item.value" ng-switch-when="text")
          editor-number(ng-model="item.value" ng-switch-when="number")
          editor-select(ng-model="item.value" ng-switch-when="select")
          editor-multi-select(ng-model="item.value" ng-switch-when="multiple select")
          editor-string(ng-model="item.value" ng-switch-when="string")
          editor-file(ng-model="item.value" ng-switch-when="file")
          editor-date(ng-model="item.value" ng-switch-when="date")
          editor-boolean(ng-model="item.value" ng-switch-when="boolean")
      
