.block-editor{

  // Worker Avatar
  .user_avatar{

    span{text-align: center; background-color: transparent; @extend .cursor;}
    &:hover{background-color: $grey-background/1.03;}
  }

  //Worker Full name
  .element-name{
    padding: $primary-padding;
    & .input_container-simplified{
      width: 300px;
      max-width: 100%;
    }
  }

  md-divider{
    margin: $primary-padding;
  }

  // Block containing all other parameters specified in job
  .block-parameters{
    padding: 0px $primary-padding $primary-padding $primary-padding;


  }


  [role="progressbar"]{margin-top: $primary-margin;}

  @import "snippets/element-item";
  @import "snippets/types";



}
