.block-editor{

  // Worker Avatar
  .element-avatar{
    width: 150px;
    height: 150px;
    border: 1px solid rgba(grey, 0.5);
    margin: $primary-padding 0px 0px $primary-padding;
    background-color: $grey-background;
    border-radius: 2px;
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
    padding: $primary-padding;
    @include transition(all 0.2s linear);
    span{text-align: center; background-color: transparent; @extend .cursor;}
    &:hover{background-color: $grey-background/1.03;}
  }

  //Worker Full name
  .element-name{
    padding: $primary-padding;
    & .input_container-simplified{
      width: 300px;
      max-width: 100%;
    }
  }

  md-divider{
    margin: $primary-padding;
  }

  // Block containing all other parameters specified in job
  .block-parameters{
    padding: 0px $primary-padding $primary-padding $primary-padding;
  }

  @import "snippets/element-item";
  @import "snippets/types";



}
