.editor{



  .basic-avatar{

    &--glow{
      @include animation(avatar-uploading 1s linear infinite);
    }

    &:hover{
      background-color: rgba($clr-grey, 0.15);
    }

    .basic-avatar__text{
      background-color: transparent;
      text-align: center;
    }


  }

  .basic-info{
    margin-top: $primary-padding;
    box-sizing: border-box;
    padding: $primary-padding;

    &__name,
    &__job{
      width: 50%;
    }
  }



  md-divider{margin: $primary-padding;}



  .parameters{
    padding: 0px $primary-padding $primary-padding $primary-padding;

    &__progress{margin-top: $primary-margin;}
  }



  component-worker-field{width: 100%;}

  md-select{
    max-width: 90%;
    overflow: hidden;
    white-space:nowrap!important;
    text-overflow: ellipsis!important;
    display: block;
    .md-select-value *:first-child{
      width: calc(100% - 24px);
    }
  }

}
