.block-listing{


  // Toolbox column
  [md-body] tr{
    td:last-child{
      text-align: right;
      & > *{opacity: 0;}
    }
    &:hover td:last-child > * {opacity: 1;}
  }

  // Avatar column
  [md-body] tr td:nth-child(2){
    text-align: center;
    width: 90px;
    padding: $primary-padding/2 0px!important;

    & img{@extend .avatar;}

  }

  //
  // Shame!
  //

  table.md-table.md-row-select tbody.md-body > tr.md-row{
    transition: none;
    @include animate-listing();
  }
}
