.listing{

  @import "../snippets/worker_extended_search";


  .toolbar{
    min-height: 3*$primary-margin;

    &__select{
      margin-right: $primary-margin;
    }

  }

  .worker{
    &-menu{
      text-align: right;
      &__controls{opacity: 0;}

      @media #{$screen-xs, $screen-sm} {
        &__controls{opacity: 1;}
      }
    }

    &:hover  .worker-menu__controls{opacity: 1;}

    &__photo{
      text-align: center;
      width: 3*$primary-margin;
      padding: $primary-padding/2 0px!important;
    }
  }

  //
  // Shame!
  //

  table.md-table.md-row-select tbody.md-body > tr.md-row{
    transition: none;
    @include animate-listing();
  }

}
