.worker-view{


  .user__photo{
    width: 100%!important;
    min-height: 250px;
    max-height: 250px;
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .user__name{
    margin-top: $primary-margin;
    margin-bottom: $primary-margin;
  }

  .user-item{
    width: 100%;
    padding: $primary-padding;

    &__value{
      margin-bottom: $primary-padding;
    }
  }



  .file{min-height: $type-min-height;}


  .gallery{
    width: 100%;

    &__controls{
      width: 100%;
    }
    &__viewer{
      width: 100%!important;
      height: 250px;
      background-size: 100% auto;
      margin: $primary-padding;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

}
