.worker-view{


  .user__photo{
    width: 100%!important;
    min-height: 250px;
    max-height: 250px;
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .user__name{
    margin-top: $primary-margin;
    margin-bottom: $primary-margin;
  }

  .user-item{
    width: 100%;
    padding: $primary-padding;
    margin-bottom: $primary-padding;
    &__value{
      margin-bottom: $primary-padding;
    }
  }



  .file{
    min-height: $type-min-height;

    // SHAME!
    &__icon{margin-left: -6px;}
  }



  .date{
    // SHAME!
    margin-left: -16px;
  }




  .gallery{
    width: 100%;

    &__controls{
      width: 100%;
    }
    &__viewer{
      width: 100%!important;
      height: 250px;
      background-size: 100% auto;
      margin: $primary-padding;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  md-select{
    max-width: 100%;
    overflow: hidden;
    white-space:nowrap!important;
    text-overflow: ellipsis!important;

    //!!! SHAME !!!
    .md-select-value *:first-child{
      width: calc(100% - 24px);
    }
  }

}
