.page-landing{
  height: 100vh!important;

  .info{
    background-color: $grey-background;
    padding: $primary-padding;
    @include animation(landing-fade 0.5s ease-out);
    @include animation-fill-mode(landing-fade 0.5s ease-out);
  }

  .text{
    max-width: 400px;
    padding-bottom: 100px;
    color: $clr-grey;

    &__label{margin-bottom: $primary-margin;text-align: center;}
    &__about{line-height: 200%;}
    &__login{
      margin-top: $primary-margin;
      color: $clr-teal;
      cursor: pointer;
    }
  }



  .tiles{
    color: rgba($clr-grey, 0.1);
    padding-right: $primary-margin;

    div:hover{@include transition(all 0.2s linear);color: rgba($clr-grey, 0.5);}
  }

}
