.page-landing{
  height: 100vh!important;

  .block-left{
    background-color: $grey-background;
    padding: $primary-padding;
    @include animation(landing-fade 0.5s ease-out);
    @include animation-fill-mode(landing-fade 0.5s ease-out);

    .element-text{max-width: 400px;padding-bottom: 100px;color: grey;}
    .element-text div:nth-child(1){margin-bottom: $primary-margin;text-align: center;}
    .element-text div:nth-child(2){line-height: 200%;}
    .element-text div:nth-child(3){margin-top: $primary-margin;color: $primary-teal;cursor: pointer;}
  }


  .block-right{
    color: rgba(grey, 0.1);
    padding-right: $primary-margin;

    div:hover{@include transition(all 0.2s linear);color: rgba(grey, 0.5);}
  }

}
