.page-login{

  background-color: $clr-grey-50;
  height: 100vh;

  .card{
    margin-top: -50px;
    @media #{$screen-xs} {margin-top: 0px;}
  }



  .controls{
    height: 60px;

    &__text{
      text-align: center;
      color: rgba($clr-grey,0.7);
      cursor: pointer;
    }

    &__button{
      position: absolute;
      margin-left: -$primary-margin/2;
    }
  }

}
