div.attr_section(layout="column" layout-align="start start")
  div.data_item(layout="row" layout-align="start center")
    div.value
      md-input-container
        label {{'record.name' | translate}}
        input(ng-model="name")
  div.data_item(layout="row" layout-align="start center")
    div.value
      md-input-container
        label {{'record.desc' | translate}}
        textarea(ng-model="name" columns="2" rows="2")
  div.data_item.chips_item(layout="row" layout-align="start center")
    div.value
      md-chips(ng-model="fruitNames" readonly="false" secondary-placeholder="+Tag")
    
  div.data_item.category_item(layout="row" layout-align="start center")
    div.value
      md-input-container
        md-select(ng-model="category" aria-label="category record" placeholder="Category")
          md-option(ng-repeat="item in cats" value="{{item}}") {{item.name}}
  
  div.data_item.category_item(layout="row" layout-align="start center")
    div.value
      fieldset()
        legend Restrictions
        div(layout="row" layout-wrap flex)
          div(flex="50")
            md-checkbox.md-primary(ng-model="public")
              span Public
          div(flex="50")
            md-checkbox.md-primary(ng-model="public")
              span Comments
          div(flex="50")
            md-checkbox.md-primary(ng-model="public")
              span Age restriction
          div(flex="50")
            md-checkbox.md-primary(ng-model="public")
              span Allow embeding
