div.record_layout()
  div.top_layout(layout="row" )
    div.player.md-whiteframe-z1(flex="50" flex-sm="100" layout="column" layout-align="center center")
      video( controls)
        source(src="/video/mov_bbb.mp4" type="video/mp4")
    div.data.md-whiteframe-z1(flex="50" layout-sm="100" layout="column" hide-sm)
      div.title {{'record.about' | translate}}
      
      div.data_item(layout="row" layout-align="start center")
        div.type {{'record.name' | translate}}
        div.value James Bond Spectre
      div.data_item(layout="row" layout-align="start center")
        div.type {{'record.views' | translate}}
        div.value 17 000 323
      div.data_item(layout="row" layout-align="start center")
        div.type {{'record.category' | translate}}
        div.value Films
      div.data_item(layout="row" layout-align="start center")
        div.type {{'record.duration' | translate}}
        div.value 1:43
      div.data_item(layout="row" layout-align="start center")
        div.type {{'record.size' | translate}}
        div.value 13Mb
      div.data_item(layout="row" layout-align="start center")
        div.type {{'record.agerest' | translate}}
        div.value 16+
  div.tabs_layout.md-whiteframe-z1()
    md-tabs(md-border-bottom)
      md-tab(label="{{'record.attr' | translate}}" ui-sref="main.record.attributes({id: record_id})" md-active="tab.current == 'attr'")
      md-tab(label="{{'record.stat' | translate}}" ui-sref="main.record.statistics({id: record_id})" md-active="tab.current == 'stat'")
      md-tab(label="{{'record.ads' | translate}}" ui-sref="main.record.ads({id: record_id})" md-active="tab.current == 'ads'")
    div.section_layout(ui-view="record")
    
