$grey-text-base: rgba(125,144,151,1);

$black-text-base: rgba(66,66,66,1);


$primary-teal: rgba(0,150,136,1);
$primary-indigo: rgba(63,81,181,1);


$teal_50: rgba(224,242,241,1);

$choose-theme: $primary-teal;
