////
/// This is a poster comment.
/// It will apply annotations to all items from file.
/// @group Colors
////

/// grey background
$grey-background: rgba(253,251,251,1);

///primary-teal
$primary-teal: rgba(0,150,136, 1);

/// label color
$black-label: rgba(0,0,0, 0.4);
