////
/// @group Margins & Paddings & Sizes
////


/// Basic margin
$primary-margin: 30px;

/// Basic padding.
/// Use it as primary
$primary-padding: 16px;

/// Avatar size
$avatar-size: 40px;

/// Width for lists
$primary-width: 900px;
/// Width for Editor & other stuff
$medium-width: 700px;

///Standard toolbar height
$toolbar-height: 64px;

///Dialog width
$dialog-width: 500px;

/// Statistics circle width
$stat-circle: 100px;

/// .md-2-line height
$md-2-line-height: 72px;

$user_avatar-size: 150px;
