.input-transparent{
  background-color: transparent!important;
  border: none!important;
}

.input_container-simplified{
  margin: $primary-padding/2 0px!important;
  .md-errors-spacer{display: none;}

}
