.element-stat_circle{
  border: 3px solid $primary-teal;
  font-weight: 300!important;
  width: $stat-circle;
  height: $stat-circle;
  border-radius: 50%;
  text-align: center;
  line-height: $stat-circle!important;
}
