.element-stat_circle{
  border: 2px solid rgba(orange, 0.5);
  font-weight: 300!important;
  width: $stat-circle;
  height: $stat-circle;
  border-radius: 50%;
  text-align: center;
  line-height: $stat-circle!important;
  
}
