.user_viewer{

  .basic{
    padding: 20px;
    .avatar img{
      width: 200px;
    }
    .info{
      padding: 0px 20px 0px 20px;
      .item{
        padding: 10px 0px 10px 0px;
      }
    }

  }



}
