.videos_toolbox{

  md-icon{
    color: #424242!important;
  }
  .sort_selector{
    padding: 0px!important;
    font-size: $font-middle;
    color: #424242!important;
  }
  .info{
    font-size: $font-middle;
    color: #424242!important;
  }

}
