.page-statistics{


  @import "statistics/main_chart";
  @import "statistics/cpu_chart";



  md-content[role="main chart"]{
    margin-top: $primary-margin;
    width: $primary-width;
    height: 400px;
    padding-top: $primary-margin;
  }


  .block-cards_box{
    width: $primary-width;
    margin-top: $primary-margin / 2;

    & > * {background-color: white;}
  }

}
