doctype html
html
  head
    
    
    title= "HR Production"
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    link(rel="stylesheet" type="text/css" href="/assets/css/style.css")
    link(rel="stylesheet" type="text/css" href="/assets/css/libs.css")
    
    script(src="/assets/js/libs.js")
    script(src="/assets/js/templates.js")
    script(src="/assets/js/app.js")
    
    
  body
    //- img#hogawaga(src="/images/gradient.svg" )
    //- object(type="image/svg+xml",data="/images/gradient.svg")
    
    ng-include(src="'/images/gradient.svg'")
    div(ui-view="root_layout" layout="column")
