div.users(layout="column" layout-align="start center")
  div.users_table.md-whiteframe-z1
    md-list
      md-subheader.md-no-sticky Users
      md-list-item.md-3-line(layout="row" ng-click="open_user()")
        img.md-avatar(ng-src="/images/grid.jpg")
        div.md-list-item-text(layout="row" layout-align="space-between center")
          div Alexander Kozhevin
          div.position Polymath
      md-divider
      md-list-item.md-3-line(ng-click="open_user()")
        img.md-avatar(ng-src="/images/musk.jpg")
        div.md-list-item-text(layout="row" layout-align="space-between center")
          div.name Elon Musk
          div.position Iron Man
